[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pycryptodome = "*"
pymongo = "*"
pandas = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
pylint-quotes = "*"

[requires]
python_version = "3"
[scripts]
lint-fix = "autopep8 . --recursive --in-place --pep8-passes 2000 --verbose"
dev = "python ./src/main.py --database ethereum --chains eth bsc -tx 0x63ee6d44a3c25ab244d4d47a2de212544a017e79d1a829a294d69f71134a7474 --output ./output.csv"
