[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pycryptodome = "*"

[dev-packages]
pycodestyle = "*"
pylint = "*"
autopep8 = "*"
pylint-quotes = "*"

[requires]
python_version = "3.10"

[scripts]
lint-fix = "autopep8 . --recursive --in-place --pep8-passes 2000 --verbose"
dev-bsc = "python contractscanner.py 0x375223d6ed2b7e08bf7fc552d72eba403e4b9406 --chain bsc"
dev-eth = "python contractscanner.py 0xdAC17F958D2ee523a2206206994597C13D831ec7 --chain eth"
